html {
  height: 100%;
}

@font-face {
  font-family: "Hylia Serif";
  src: url("../public/HyliaSerif.ttf") format("opentype");
}

body {
  margin: 0;
  height: 100%;
  
  padding: 0;
  background: rgb(34,193,195);
  background: linear-gradient(240deg, #115938 23%, #4EBF8B 100%); 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}